[Unit]
Description=GenkaiTour Deploy World List On Sunday 00:00

[Timer]
OnCalendar=Sun *-*-* 00:00:00
Persistent=true     
 
[Install]
WantedBy=timers.target
