[Unit]
Description=GenkaiTour Generate World List On Saturday 18:00

[Timer]
OnCalendar=Sat *-*-* 18:00:00
Persistent=true     
 
[Install]
WantedBy=timers.target
