[Unit]
Description=GenkaiTour Deploy World List
After=network.target

[Service]
ExecStart=/usr/bin/make deploy
WorkingDirectory=/home/wacky/GenkaiTourWorldList
